<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/icon/contatos.png" style="margin-top: 20px; width: 187px; margin-left: auto; margin-right: auto; "></ion-img>

  <ion-card>
    <ion-card-header>
      <h3 text-align="center">Nos mande uma mensagem :)</h3>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mensagem</ion-label>
        <ion-textarea rows="3"></ion-textarea>
      </ion-item>
      <ion-button color="tertiary" expand="block" (click)="save()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.5997154390543!2d-46.53958008538703!3d-23.43882266296272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef51fbe5f8681%3A0x1f8cf929993dc97!2sInstituto%20Federal%20de%20Educa%C3%A7%C3%A3o%2C%20Ci%C3%AAncia%20e%20Tecnologia%20de%20S%C3%A3o%20Paulo%20IFSP%20Guarulhos!5e0!3m2!1spt-BR!2sbr!4v1681142351923!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>