<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tratamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-justify">
  <ion-img src="../../../assets/icon/tratamento.png" style="margin-top: 20px; width: 187px; margin-left: auto; margin-right: auto"></ion-img>

  <ion-card>
    <ion-card-content>
      Tratamentos realizados na OdontoIFSP
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="overflow-x: auto;">
      <ion-list style="white-space: nowrap;">
        <ion-item>Clareamento Dental</ion-item>
        <ion-item>Faceta Dental</ion-item>
        <ion-item>Extração</ion-item>
        <ion-item>Bruxismo</ion-item>
        <ion-item>Estomatologia</ion-item>
        <ion-item>Limpeza Dentária</ion-item>
        <ion-item>Periodontia</ion-item>
        <ion-item>Tratamento de Canal</ion-item>
        <ion-item>Enxerto Ósseo</ion-item>
        <ion-item>Implante Dentário</ion-item>
        <ion-item>Disfunção da ATM</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>