<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre nós</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-justify">
  <ion-img src="../../../assets/icon/sobre_nos.png" style="margin-top: 20px; width: 187px; margin-left: auto; margin-right: auto; "></ion-img>

  <ion-card>
    <ion-card-content>
      <p>A <b>OdontoIFSP</b> é uma clínica odontológica que tem como objetivo fornecer serviços odontológicos de alta qualidade para seus alunos matriculados. A clínica está localizada no campus Guarulhos do Instituto Federal de São Paulo (IFSP) e conta com uma equipe de profissionais altamente qualificados e experientes na área.</p>
      <p>A clínica oferece uma ampla variedade de serviços odontológicos, incluindo consultas de rotina, limpezas, tratamentos de cáries, tratamentos de canal, extrações, implantes, ortodontia e estética dentária. Todos os procedimentos são realizados com equipamentos modernos e tecnologicamente avançados, seguindo as melhores práticas e padrões de segurança e higiene.</p>
      <p>Com uma visão de longo prazo para a saúde bucal, a OdontoIFSP também oferece programas de prevenção e educação para promover uma vida saudável e sorridente para seus pacientes.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>Amanda Souza - GU3018067
    </ion-card-content>
  </ion-card>

</ion-content>